.countryComponent{
      
    width: 264px;
    height: 336px;
 
}

.name{
    font-size: 18px;
    font-weight: bolder;
    margin-top:24px;
    margin-bottom: 16px;
}

.info{
    font-size: 14px;
    font-weight: bold;
}
.infoContainer{
    display: flex;
    flex-direction: column;
    gap:8px;
}
.link{
    text-decoration: none;
}